.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home__container {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  max-width: 100%;
}

.category__container {
  height: 400px;
  width: 250px;
}

.category__container .title {
  height: 40px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  padding-left: 10px;
}

.category__container .categories {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: black;
  background-color: #fff;
  line-height: 1.5;
  font-weight: 400;
  border-radius: 10px;
  padding-left: 10px;
  opacity: 0;
  animation: fade-in ease-in 0.5s 1.5s forwards;
  overflow-y: scroll;
}

.category__container .categories .category {
  cursor: pointer;
}

.category__container .categories .category:hover {
  color: rgb(32, 39, 97);
  text-decoration: underline;
}

.top__selling {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  max-width: 78%;
  border-radius: 20px;
  background-color: rgb(245, 245, 245);
}
.title {
  text-align: left;
  font-weight: 500;
  font-size: 20px;
}

.home__row {
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
  overflow-x: scroll;
}

.spinner {
  margin-top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__container {
  background-color: #fff;
  width: 98%;
  align-self: center;
  margin-top: 20px;
  border-radius: 10px;
}

.banner__title {
  padding-left: 15px;
  font-weight: 500;
  font-size: 20px;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .category__container {
    height: 350px;
    width: 200px;
  }
  .category__container .title {
    height: 30px;
    font-weight: 500;
    font-size: 16px;
    padding-left: 8px;
  }
  .category__container .categories {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 300;
    padding-left: 5px;
  }
  .top__selling,
  .home__row {
    width: 60%;
    margin: 15px 5px;
  }

  /* .top__selling {
    padding: 20px;
    width: 600px;
  } */
}

@media screen and (max-width: 640px) {
  .category__container {
    height: 400px;
    width: 200px;
  }
  .category__container .title {
    height: 30px;
    font-weight: 400;
    font-size: 14px;
    padding-left: 5px;
  }
  .category__container .categories {
    font-size: 8px;
    font-weight: 300;
    padding-left: 5px;
  }
}
