.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  padding: 20px;
  width: 300px;
  height: 350px;
  min-width: 100px;
  background-color: #fff;
  z-index: 1;
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.3);
}

.product:hover {
  transform: scale(1.055);
  transition: 0.2s ease-in;
}

.product img {
  height: 150px;
  width: 200px;
  object-fit: contain;
  margin-bottom: 15px;
}

.product__info {
  margin-bottom: 15px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.product__info .product__name {
  font-size: 14px;
  width: 200px;
  text-align: center;
}

.product__info .product__price {
  margin-top: 2px;
}

.product__rating {
  display: flex;
}

.product button {
  width: 100px;
  height: 40px;
  background-color: #ffa500;
  border: 1px solid;
  border-radius: 10px;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #fff;
  cursor: pointer;
}

.product__banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* margin: 10px; */
  padding: 10px;
  width: 180px;
  height: 180px;
  min-width: 100px;
  background-color: #fff;
  z-index: 1;
  cursor: pointer;
}

.product__banner:hover {
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.3);
  transform: translateY(-0.5rem);
}

.product__banner img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

@media screen and (max-width: 400px) {
  .product {
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 300px;
    min-width: 100px;
  }
  .product img {
    height: 100px;
    width: 150px;
    margin-bottom: 10px;
  }
  .product__info {
    margin-bottom: 10px;
  }
  .product__info .product__name {
    font-size: 10px;
  }
}
